@model IEnumerable<NewsListingBindingViewModel>
@{
    ViewData["Title"] = "News";
}

<div id="news-container">
    @Html.Partial("_NewsListingForm", Model)
</div>

<input id="next-page" type="hidden" value="2" />

<p id="loading">
    <img src="~/images/loading.gif" class="img-responsive" alt="Loading…" />
</p>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>

<script>
    $(document).ready(function () {
        var win = $(window);

        // Each time the user scrolls
        win.scroll(function () {
            // End of the document reached?
            if ($(document).height() - win.height() == win.scrollTop()) {
                $('#loading').show();

                $.ajax({
                    url: '/news/news/allasync?page=' + $("#next-page").val(),
                    dataType: 'json',
                    success: function (json) {
                        for (var item of json) {
                            console.log(item);
                            
                            $('#news-container').append(`<div>
                                                             <h3>${item.title}</h3>
                                                             <img src="${item.imageUrl}" height="365" width="761" alt="No Image" />
                                                             <p class="text">
                                                                 ${item.description}...
                                                                 </p>
                                                                     <a href="/news/news/details/${item.id}" class="btn btn-primary btn-xs"><strong>Read mоre</strong></a>

                                                             <br/>
                                                             <p class="text-center">Created on: ${item.createdOn}</p>

                                                             <div class="comment-icon box-center">
                                                                 ${item.votes}
                                                                 <i class="fa fa-thumbs-up"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                 ${item.comments}
                                                                 <i class="fa fa-comment"></i>
                                                             </div>
                                                         </div> <br/> <br/>`);
                        }

                        var nextPage = Number($("#next-page").val());
                        $("#next-page").val(nextPage + 1);
                        $('#loading').hide();
                    }
                });
            }
        });
    });</script>
