@model NewsMinifiedBindingModel

@{
    ViewData["Title"] = "Delete Confirmation";
}
<div>
    <div class="box">
        <form method="post">
            <h2>@ViewData["Title"]</h2>
            <h4>@Model.Title</h4>
            <p>@Model.Description</p>
            <img src="@Model.ImageUrl" class="img-responsive" alt="No Image" />
            <br/>
            <br/>
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
    </div>
</div>
